.dash_container{
    display:flex;
    margin:auto;
    flex-direction:row;
    width: 95%;
    margin-top:2rem;
    height:90vh;
}
.left_container,.right_container{
    padding:1rem;
    width:15%;
    border:4px solid rgb(236, 236, 236);
}
.left_heading{
    margin-bottom:2rem;
}
.left_options{
    display:flex;
    flex-direction: column;
}
.middle_container{
    width:65%;
    border:4px solid rgb(236, 236, 236);
}
.navlinks{
   text-decoration: none;
   padding:0.5rem;
   color:black;
}

.mid_header{
    display:flex;
    width:65%;
    flex-direction: row;
}
.header_title{
    padding:1rem;
    font-size: medium;
}